---
layout: layouts/base.njk
title: Recipes
permalink: "/recipes/"
---

<div class="container">
	{% for item in mealsCompiled %}
		<p><a href="/recipes/{{ item.url }}/">{{ item.name }}</a></p>
	{% endfor %}
</div>
