---
layout: layouts/base.njk
pagination:
  data: mealsCompiled
  size: 1
  alias: recipe
permalink: "/recipes/{{ recipe.name | slug }}/"
---

<div class="container">
	<h1>{{ recipe.name }}</h1>
	<p>{{ recipe.description }}</p>
	<p>{{ recipe.cookTime }}</p>

	<ul class="pb-4 border-bottom mb-4">
		{% for item in recipe.ingredients %}
			<li>{{ item.name }} {{ item.amount }} {{ item.measurement }}</li>
		{% endfor %}
	</ul>

	<ol>
		{% for item in recipe.instructions %}
			<li>{{ item }}</li>
		{% endfor %}
	</ol>
</div>
